body {
   font-family: 'Arial', sans-serif;
   text-align: justify;
   background-color: black;
   color: #333;
   margin: 0;
   padding: 0;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;
}

h3{
   color: goldenrod;
   text-align: center;
   font-size: xx-large;
   padding-top: 180px;

}

header{
   background-color: #5A5A5A;
}

hr{
    
    height: 0px;
    border: none;
    border-top: 1px solid black;


   
    
    
}








.center{
    display:block ;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
   
}

ul{
    margin:0;
    padding-top: 10px;
 }
 
 
 li{
    display: inline;
    padding:0 5%;
 }
 
 
 a {
    padding: .3em;
    color: white;
    text-decoration: none;
 }
 
 .cart {
      position: absolute;
      left: 30px;
      top:56px;

      color: #ffffff;
 }
 
 .bag{
      position: absolute;
      left:5px;
      top:73px;
      
 }

  

   
 
 
 .Azam{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px;
      width: 390px;
      height: 110px;

 }
 

 .logo2{
   position:absolute;
   padding-top: 18px;

}



 .logo3{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 
 nav{
    text-align: center;
    border-bottom: 3px solid grey;
    padding-top: 1px;
 }

.opt{
   color: #ffffff;
   text-align: right;
 }
 
 
 .index-nav a {
    box-shadow: inset 0 0 0 0 goldenrod;
    color: #ffffff;
    margin: -0.28rem;
    padding: 0 .28rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    padding: 3px;
    font-size: 15px;
    border-radius: 10px;
 
 }
 
 
 .index-nav a:hover{
   box-shadow: inset 200px 0 0 0 goldenrod;
  color: white;
  padding: 3px;
  border-radius: 10px;
 }


 
 
 li{
   color: white;
   font-size: 10px;
 }

h1{
   color:goldenrod;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: normal;
   letter-spacing: 2px;
}



 
 
   
p{
   color:gray;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}


 button{
   background-color: goldenrod;
   padding:8px;
   text-align: center;
   
 }
 




input{
   font: size 5px;
   
}  


.submit{
   border-radius: 10px;
   color: black;
   background-color: lightslategray;
   width: 340px;
   height: 50px;
   font-size: 19px;
   font-family: Arial, Helvetica, sans-serif;
   transition: 0.3s;
   border-color: lightslategray;
}

.submit:hover{
   background-color: goldenrod;
   color: white;
}



/* Style for the reset button */
.reset {
   border-radius: 10px;
   color: black;
   background-color: lightslategray;
   width: 340px;
   height: 50px;
   font-size: 19px;
   font-family: Arial, Helvetica, sans-serif;
   transition: 0.3s;
   border-color: transparent; /* Add this line to remove border color */
}

/* Hover style for the reset button */
.reset:hover {
   background-color: goldenrod;
   color: white;
   border-color: transparent; /* Add this line to remove border color on hover */
}





.button1{
   text-align: center;
   padding-left: 0px;
   padding-top: 2px;
   margin-top: -860;
   padding-right: 0px;
   padding-bottom: 20px;
   
  
   
   
}

.button2{
   text-align: center;
   padding-left: 0px;
   margin-top: -740;
   padding-top: 0px;

}

input[type="text"]{
   font-size: 30px;
   text-align: left;
   vertical-align: top;
   border-radius: 10px;
  
   
   
}
   
input[type="tel"]{
   font-size: 30px;
   text-align: left;
   border-radius: 10px;

   
}




label{
   margin-bottom: 30px;
   display: block;
}




.exit{
   padding-left: 698px;
   padding-top: 100px;
}

.thank-you{
   text-align: center;
   padding-top: 20px;

}

.leave{
   text-align: center;
   padding-top: 10px;
   display: block;
   margin-right: auto;
   margin-left: auto;
}

.note{
   text-align: center;
   padding-top: 30px;
}

.back{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.refresh{
   display: block;
   margin-left: auto;
   margin-right: auto;
}







.message{
   font-size: 10px;
}




.abtus {
    color: goldenrod;
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
}

.text {
    line-height: 1.6;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding-left: 15px;
    padding-top: 1px;
}



.tex{
   line-height: 1.6;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding-left: 15px;
    padding-top: 1px;
}

.about {
    color:goldenrod;
    font-size: 28px;
    padding-top: 1px;
    text-align: left;
    padding-left: 15px;
 
}

.about p {
   line-height: 1.6;
   padding-bottom: 5px;
   text-align: left;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 23px;

}



 .act{
   text-align: center;
   font-size: 30px;
 } 


 .limit{
   width: 650px;
   word-wrap: break-word;
 }


.phone{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 2%;

}

.upward{
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}






.right{
   max-width: 550px;
   word-wrap: break-word;
   float: right;
}

.end{
   text-align: center;
}

.endtext{
   line-height: 1.6;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    padding-left: 10px;
}





.index-nav.sticky {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%; /* Ensure full width */
   background-color: #5A5A5A; /* Background color when sticky */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
 }
 


.index-nav.sticky ul li {
   display: inline;
   padding: 0 5%;
   vertical-align: top; /* Align the list items to the top */
   position: relative;
   z-index: 1000;
}

 



 .index-nav.sticky a {
   box-shadow: inset 0 0 0 0 goldenrod;
   color: #ffffff;
   margin: -0.28rem;
   padding: 0 .28rem;
   transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
   padding: 3px;
   font-size: 15px;
   border-radius: 10px;
 }



 
 .index-nav.sticky a:hover {
   box-shadow: inset 200px 0 0 0 goldenrod;
   color: white;
   padding: 3px;
   border-radius: 10px;
 }



.brief{
   line-height: 1.6;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 23px;
   padding-left: 10px;

}

.Buisness{
   color: goldenrod;
}


.con{
   height:45px; 
   width:45px;
   padding-top: 3%;
   display: block;
   margin-left: auto;
   margin-right: auto; 


}

.link{
   font-size: 20px;
}



/* Add a media query for screens with a maximum width of 600 pixels (adjust as needed) */
@media only screen and (max-width: 600px) {
   .index-nav ul {
     justify-content: space-around; /* or 'space-between' depending on your preference */
   }
 
   .index-nav li {
     display: inline;
     padding: 0 10px; /* Add some horizontal spacing */
   }
 
   /* Additional styles for the sticky navigation bar */
   .index-nav.sticky ul {
     justify-content: space-around; /* or 'space-between' depending on your preference */
   }
 
   .index-nav.sticky li {
     display: inline;
     padding: 0 10px; /* Add some horizontal spacing */
   }
 }
 
 